{
  "$schema": "https://json.schemastore.org/prettierrc",
  "trailingComma": "all",
  "tabWidth": 5,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}